/*HANDY ANSICHT*/


@media(max-width:500px){

}







/*DESKTOP ANSICHT*/


@media(min-width:500px){
        body {
                background-color: white;
        }

        nav{
                color: #ebdd8e;
                border-bottom: #ebdd8e thin solid;
                width: 100%;
                height: 50px;
                position: fixed;
                background-color: #141414;
        }

}