/*HANDY ANSICHT*/


@media(max-width:500px){

}







/*DESKTOP ANSICHT*/


@media(min-width:500px){
        body {
                background-color: white;
        }

        nav{
                border-bottom: #ebdd8e thin solid;
                width: 100%;
                height: 50px;
                position: fixed;
                background-color: #141414;
                text-align: center;
                align-items: center;
                text-decoration: none;
                display: inline;
        }
        ul{

                text-decoration: none;
                color: #ebdd8e;
                display: inline;
                height: 20px;
                width: 100%;

        }

        ul li{
            display: inline;
            padding-right: 20px;
            text-align: center;
            color: #ebdd8e;
        
        
        
        }

        ul li:hover{
            cursor: pointer;
            color: white;
        }

}